@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-light{
    background: rgba(255, 144, 14, 0.1);
}

.display-flex{
    display: flex;
}

.text-gray{
    color: #424242;
}

.text-light-gray{
    color: #727272;
}
.navbar{
   
    justify-content: space-between;
    align-items: center;

}
.navbar,.banner{
    width: 85%;
    /* May use Max-Width */
    margin: 0 auto;
}
.brand-name{
    font-weight: 700;
    font-size: 2.3rem;
}
.nav-item{
    
    margin-right: 40px;
}
.nav-links{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}

/* Navbar Created */

.banner-content{
    
    max-width: 862px;
    /* May use Max-Width */
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem ;
}
.banner-deatils{
    color:rgb(114, 114, 114)
    font-weight: 400;
    font-size: 1rem;
}

.primary-btn{
    border-radius: 8px;
    border: none;
    background: rgb(255, 144, 14);

    color:rgb(255, 255, 255) ;
    font-weight: 550;
    font-size: 1.3rem;
    padding: 20px;
    margin-bottom: 10px;
}

.banner-image{
    width: 100%;
}





/* Banner Created */

main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams{
    align-items: center;
    margin-top: 50px;
   
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.feature-title{
    font-size: 3rem;
    font-weight: 700;
}
.feature-details{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
}

/* Responsive Media Query */

/* Small Size Device */
@media screen and (max-width:576px) {
    
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }

    .team-images{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left: 40px;
    }

}
/* Our Features Created */

/* Medium Size Device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px auto;
    }
}